.box {
    transform: translate(100px);
    -moz-transform: translate(100px); //Firefox 3
    -ms-transform: translate(100px); //Internet Explorer 9
    -o-transform: translate(100px); //Opera 10
    -webkit-transform: translate(100px); //Chrome, Opera 12, Safari 3
}